.container {
  display: flex;


  margin: 20px 0;

  align-items: center;
  justify-content: center;
}

#pausar {
  align-items: center;
  justify-content: center;
  
  padding: 10px 20px;
  height: 50px;
  width: 150px;

  border-radius: 10px;
  border: 0;

  background-color: red;
  color: white;
  font-size: 20px;

  cursor: pointer;
}

#pausar:hover {
  opacity: 0.6;
}

h2 {
  display: none;
  
  text-align: center;
  font-family: comic sans MS;
  color: lightgrey;
}